body{
	background-color: #1a5b35;
	background-repeat: no-repeat;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	position: relative;
	padding: 0;
	margin: 0;
}

.group{
    background-repeat: no-repeat;
    position: absolute;
	margin-top: 629px;
	margin-right: 1400px;
	padding: 0;
}

.group2{
    background-repeat: no-repeat;
    position: absolute;
	margin-left: 1384px;
}

.group3{
    background-repeat: no-repeat;
    position: absolute;
	margin-top: 620px;
}

.group4{
	background-repeat: no-repeat;
    position: absolute;
	margin-right: 1400px;
}

.group5{
	background-repeat: no-repeat;
	position: absolute;
	margin-right: 1450px;
	margin-top: 620px;
}

.container{
	width: 662px;
	height: 349px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	color: #FFFFFF;
	margin-top: 145px;
	/*margin-left: 320px;*/
}

.container h1{
	font-family: 'Comforter Brush', cursive;
	font-size: 72px;
	color: #D6BD84;
}

.container p{
	font-family: 'Comfortaa', cursive;
    font-size: 18px;
}

.container h3{
	font-family: 'Comfortaa', cursive;
    font-size: 18px;
}

.container img{
	margin-top: -90px;
	margin-left: 290px;
}


@media print{
	body{
		background-color: white;
	}

	.group, .group2, .group3, .group4, .group5{
		display: none;
	}

	.container img{
		display: none;
	}


	.container h1, p, h3{
		color: black;
		font-family: 'Sora', sans-serif;
		font-size: 35px;
		text-align: center;
		}
		.container{
			position: static;
			width: 100%;
		}
}


@media screen and (max-width: 390px) {
    
	.container h1{
		font-family: 'Comforter Brush', cursive;
		font-size: 52px;
		color: #D6BD84;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.container p{
		font-family: 'Comfortaa', cursive;
		font-size: 16px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.container h3{
		font-family: 'Comfortaa', cursive;
		font-size: 16px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.group4{
		background-repeat: no-repeat;
		position: absolute;
		width: 97.3px;
		height: 113.7px;
		left: -12.42px;
		top: 15.76px;
	}

	.group5{
		background-repeat: no-repeat;
		position: absolute;
		width: 40px;
		height: 40px;
		left: 295px;
		top: 72px;
	}
	.group, .group2{
		display: none;
	}
}
